Importing libraries

In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import yfinance as yf
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

Loading Our Dataset

In [91]:
start = '2010-01-01'
end = '2023-10-22'

df = yf.download('ADANIPOWER.BO', start = start, end=end)

[*********************100%***********************]  1 of 1 completed

Feature Extraction

In [92]:
df = df.drop(['Adj Close'], axis = 'columns')
df

                  Open        High         Low       Close   Volume
Date
2010-01-04   99.750000  100.000000   99.000000   99.099998   280862
2010-01-05   99.300003  112.349998   99.300003  105.099998  6257584
2010-01-06  105.900002  110.900002  105.900002  107.500000  3335304
2010-01-07  108.000000  108.250000  104.750000  105.050003   766364
2010-01-08  105.000000  106.849998  103.300003  103.699997   529225
...                ...         ...         ...         ...      ...
2023-10-16  340.049988  343.700012  327.149994  329.950012   569371
2023-10-17  331.549988  344.100006  331.000000  335.600006   874110
2023-10-18  336.549988  339.450012  332.000000  333.899994   526507
2023-10-19  333.049988  346.950012  331.250000  344.399994   730293
2023-10-20  343.350006  346.299988  336.000000  338.100006   266402

[3386 rows x 5 columns]

Splitting Data and Training Model

In [93]:
x = df[['Open', 'High', 'Low', 'Volume', 'Close']].values
new_df = df.drop(df.index[0])
y = new_df[['Open', 'High', 'Low', 'Volume', 'Close']].values
X = x[:-1]

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

In [95]:
model = RandomForestRegressor(n_estimators=100, random_state=42)

In [96]:
predictions = []

for _ in range(7):
    # Train the model on the current dataset
    X = x[:-1]
    y = new_df[['Open', 'High', 'Low', 'Volume', 'Close']].values

    model.fit(X, y)

    # Predict the next day's values
    latest_data = x[-1].reshape(1, -1)
    prediction = model.predict(latest_data)
    
    # Append the prediction to the 'x' array
    x = np.vstack([x, prediction])

    # Append the prediction to the 'new_df'
    new_data = pd.DataFrame(data=[prediction[0]], columns=['Open', 'High', 'Low', 'Volume', 'Close'])
    new_df = pd.concat([new_df, new_data], ignore_index=True)

    predictions.append(prediction)

# 'predictions' now contains the predicted values for the next 7 days
print("Predicted values for the next 7 days:")
print(predictions)

# ...

Predicted values for the next 7 days:
[array([[   330.0344986 ,    335.86849823,    324.42449982,
        272872.44      ,    330.82599655]]), array([[   315.46450596,    318.9289991 ,    312.30999355,
        302283.14      ,    314.35049919]]), array([[3.03305438e+02, 3.09231367e+02, 2.99853305e+02, 3.87722874e+05,
        3.03838009e+02]]), array([[2.96680275e+02, 3.00535067e+02, 2.90676663e+02, 5.28607954e+05,
        2.94076404e+02]]), array([[2.95732001e+02, 3.01297003e+02, 2.91283498e+02, 6.60798540e+05,
        2.97164001e+02]]), array([[2.85037234e+02, 2.90208293e+02, 2.79981343e+02, 7.31110058e+05,
        2.87144481e+02]]), array([[2.82654378e+02, 2.85757442e+02, 2.79898053e+02, 5.98448374e+05,
        2.82621452e+02]])]

Predicting Close values

In [109]:
print(predictions[-1:])

[array([[2.82654378e+02, 2.85757442e+02, 2.79898053e+02, 5.98448374e+05,
        2.82621452e+02]])]